
.header{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(17, 28, 25);
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 5em;
}
.header button{
    cursor: pointer;
}
.header-container{
    margin: 0 2em;
    padding-top: 1.2em;
    display:grid;
    grid-template-columns: 20% 50% 30%;
    /* justify-content: end; */
    place-items: center;
    /* align-items: center; */

}
.header-logo{
    
    color: rgba(0, 255, 128);
    font-weight: bold;
    font-size: 2rem;
}
.header-nav-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.header-nav-list{

    display: flex;
    width: 75%;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}
.header-nav-container li a{
    font-size: 1.1rem;
    text-decoration: none;
    color: white;
    font-weight: 400;
}
.sign-container{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    /* margin-left: 6em; */
}
.btn{
    height: 2.7em;
    background: linear-gradient(to right, rgba(0, 255, 128),rgba(255, 248, 32));
    font-weight: bold;
    color: rgb(17, 28, 25);
    border-radius: 6px;
    border-style: none;
    width: 70%;
}
.sign-up-btn{

}
.sign-in-btn{
  
    }

    .sign-container button{
        animation: none;
        transition: 0.2 linear;
    }

.sign-container button:hover{
    animation: colorRotate 3s infinite linear;
}

@keyframes colorRotate{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
.sample-text{
}
.text{
    text-align: center;
    padding: 2em 1em 0 1em;
    color: white;
    font-size: 3rem;
    margin: 0 auto;
}
.home-link{
    position: relative;
}
.about-drop-down{
    position:absolute;
    background-color: rgba(0, 255, 128);
    display: grid;
    padding: 20px;
    grid-gap: 10px;
    border-radius: 5px;
   left: 50%;
   transform: translateX(-50%);
   
    box-shadow: 2px 2px 6px;
   
}

.list{
    position: relative;
}
.team{
margin-top: 0;
}
.about-link{
    color: black !important;
}
.about-links{
    color: rgb(255, 255, 255) !important;
    /* text-decoration: none;
    color: white;
    font-size: 17px;
    text-align: center; */
}
.about-drop{
}