.main-page-body{
    padding: 70px 0;
    background-color: rgb(239, 246, 243);
}


.main-page-body article{
    padding: 60px 20px;
    background-color: white;
}
.why-us{
    display: grid;

}

.article-title{
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.why-us-cards-container{
    margin-top: 2em;
    max-width: 75%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-self: center;
    gap: 2em;
}

.why-us-card-title{
   color: rgb(17, 28, 25);
}

.why-us-card-para{
    margin-top: 0.7em;
}